@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
 body{
   background-image: url('bg1.jpg');
   background-position: center center;
   background-size: cover;
   overflow-x: hidden;
   /* background-color: green; */
 }
 .box{
     display: flex;
     justify-content: center;
     height: 88%;
     width: 100%;
 }
 #container{
     width: 70%;
 }
 #mszscreen{
    width: 96%;
    height: 83%;
    background-color: #0000008c;
    margin: 30px 21px 21px 21px;
    overflow-y: auto;
    box-shadow: 0px 0px 35px 11px #a0d8ff;
 }
 #mszscreen::-webkit-scrollbar{
     display: none;
 }
#sidebar{
    width: 30%;
    height: 105%;
    overflow-y: auto;
}
#sidebar::-webkit-scrollbar{
    display: none;
}
#inputarea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
#inputarea input{
    height: 43px;
    width: 689px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px solid #662b8b;
    font-size: 20px;
    padding-left: 10px;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: bolder;
}
#inputedmsz::placeholder{
    font-family: 'Kalam', cursive;
    color: #ffffff;
   font-weight: bolder;
}
#inputarea button{
    height: 38px;
    width: 48px;
    background: transparent;
    outline: none;
    border: none;
    border-left: 0ch;
    border-radius: 0px 4px 4px 0px;
}
#form{
    display: flex;
}
.send{
    float: right;
    clear: both;
    max-width: 300px;
    font-size: 18px;
    background-image: linear-gradient(rgb(0 173 255),rgb(226 253 0));
    overflow-wrap: break-word;
    padding: 6px 11px;
    margin: 10px 20px;
    border-radius: 15px 15px 0px 15px;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    color:black;
}
.recived{
    float: left;
    clear: both;
    max-width: 300px;
    background-image: linear-gradient(rgb(0 255 192),rgb(223 63 255));
    font-size: 18px;
    overflow-wrap: break-word;
    padding: 6px 11px;
    margin: 10px 20px;
    border-radius: 15px 15px 15px 0px;
    font-family: 'Kalam', cursive;
    font-weight: 900;
    color:black;
}
.notification{
    clear: both;
    width: 100%;
    font-size: 18px;
    margin: 5px auto;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Kalam', cursive;
    font-weight: 900;
}
#sidenotification{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 76px;
    right: -320px;
    transition: right 0.5s;
    border-radius: 49px 0px 0px 49px;
    height: 62px;
    width: 300px;
    background: #2800dba8;
}
#notificationcontent{
    font-size: 20px;
}
.sideelements{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 22px;
    background-color: #0000008c;
    margin: 23px 10px;
    box-shadow: 0px 0px 15px 3px #9bd6ff;
}
#pera{
    padding: 13px;
    background: #0000008c;
    text-align: center;
    font-size: 20px;
    margin: 22px 10px 0px 10px;
    border-radius: 10px;
}
.fa, .fas {
    font-weight: 900;
    color: #662b8b;
    font-size: 27px;
}